body {
  font-family: "Courier New", Courier, monospace;
  color: #3f3f3f;
  /*padding-top: 3%;*/
  /*background-color: #d3d3d3;*/
}

.livehost {
	background: #5BCC8B;
}

.midhost {
	background: #E6BB46;
}

.downhost {
	background: #DF7065;
}

.lbalanced {
	background: #7F9AE9;
}

.hosttable {
  color: #3f3f3f;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 7px 10px 10px 16px;
  border-spacing: 14px 0px;
}

thead {
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid #3f3f3f;
}

.bullet {
  height: 11px;
  width: 11px;
  display: inline-block;
	border-radius: 50% 50%;
  vertical-align: middle;
  margin-right: 5px;
}
